extends base
include _reviewCard

//-what we write below will append the block head on the base.pug
block append head
    script(src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet')
    script(defer src='/js/mapbox.js')
    script(src='https://js.stripe.com/v3/')

//-script(src='/js/mapbox.js')

mixin overviewBox(label, text, icon)
    .overview-box__detail
        svg.overview-box__icon
            use(xlink:href=`/img/icons.svg#icon-${icon}`)
        span.overview-box__label=label
        span.overview-box__text=text

//-redefine the block in base.pug

block content
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)

        .heading-box
            h1.heading-primary
                span=`${tour.name} tour`
            .heading-box__group
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href=`/img/icons.svg#icon-clock`)
                    span.heading-box__text=`${tour.duration}`
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='/img/icons.svg#icon-map-pin')
                    span.heading-box__text=`${tour.startLocation.description}`

    section.section-description
        .overview-box
            div
                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Quick facts
                    - const date = () => {
                    - let min = new Date().getTime() - tour.startDates[0].date.getTime();
                    - let minDate = tour.startDates[0].date;
                    - tour.startDates.forEach((el) => {
                    - if (new Date().getTime() - el.date.getTime() < min) {
                    - min = new Date().getTime() - el.date.getTime();
                    - minDate = el.date;
                    - }
                    - });
                    - return minDate;};
                    +overviewBox('Next date', date().toLocaleString('en-us',{month: 'long', year: 'numeric'}), 'calendar')
                    +overviewBox('Difficulty', tour.difficulty, 'trending-up')
                    +overviewBox('Participants', `${tour.maxGroupSize} people`, 'user')
                    +overviewBox('Rating', `${tour.ratingsAverage} / 5`, 'star')

                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Your tour guides

                    each guide in tour.guides
                        .overview-box__detail
                            img.overview-box__img(src=`/img/users/${guide.photo}`, alt=guide.name)

                            - if(guide.role === 'lead-guide')
                                span.overview-box__label Lead guide
                            - if(guide.role === 'guide')
                                span.overview-box__label Tour guide
                            span.overview-box__text=guide.name

        .description-box
            h2.heading-secondary.ma-bt-lg=`About ${tour.name} tour`
            - const paragraphs = tour.description.split('\n')
            each p in paragraphs
              p.description__text=p
            div.like
                button.btn.like__btn#like-button(data-tour-id=`${tour.id}`)
                    span.like__text= 12
                    svg.like__icon
                        use(xlink:href='/img/icons.svg#icon-heart')

    section.section-pictures
        each img, i in tour.images
            .picture-box
                img.picture-box__img(src=`/img/tours/${img}`, alt=`Tour ${i+1}`, class=`picture-box__img--${i+1}`)

    section.section-map
        #map(data-locations=`${JSON.stringify(tour.locations)}`)

    section.section-reviews
        .reviews
            each review in tour.reviews
                +reviewCard(review)

    section.section-cta
        .cta
            .cta__img.cta__img--logo
                img(src='/img/logo-white.png', alt='Natours logo')
            img.cta__img.cta__img--1(src=`/img/tours/${tour.images[1]}`, alt='Tour picture')
            img.cta__img.cta__img--2(src=`/img/tours/${tour.images[2]}`, alt='Tour picture')
            .cta__content
                h2.heading-secondary What are you waiting for?
                p.cta__text=`${tour.duration} days. 1 adventure. Infinite memories. Make it yours today!`

                if user && bookedTour.length !== 0 && reviewedTour.length === 0
                    a.btn.btn--green(href=`/review/${tour.id}`) Review tour now!

                if user && bookedTour.length === 0
                    select.cta__select(name='selectedDate')#selectedDate
                      each startDate in tour.startDates
                          if startDate.date.getTime() < new Date().getTime()
                              option(value=`${startDate.date}` disabled=`disabled`)=`${startDate.date.toLocaleString('en-us', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})} (Past tour)`
                          else if startDate.soldOut
                              option(value=`${startDate.date}` disabled=`disabled`)=`${startDate.date.toLocaleString('en-us', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})} (Sold out)`
                          else
                              option(value=`${startDate.date}`)=`${startDate.date.toLocaleString('en-us', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}`
                    button.btn.btn--green#book-tour(data-tour-id=`${tour.id}`) Book tour now!

                if user && bookedTour.length !==  0 && reviewedTour.length !== 0
                    p.cta__text Thank you for enjoying the tour!

                if !user
                    a.btn.btn--green.span-all-rows(href='/login') Login to book tour!